.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    width: 65px;
    bottom: 0;
    background-color: white;
    border-right: 1px;
    border-right-color: rgb(210, 210, 210, 0.25);
    border-right-style: solid;
    z-index: 101;
    padding-top: 5px;
}

.sidebar-links {
    height: 74px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidebar-links div {
    font-family: Roboto, Arial;
    font-size: 9px;
}

.sidebar-links img {
    height: 25px;
    margin-bottom: 5px;
}

.sidebar-links:hover {
    background-color: rgb(225, 223, 223);
}